.cl-card {

	margin-bottom: 1rem;
	display: block;
	position: relative;
	top: 0;
	-webkit-transition: top .1s ease-in-out, box-shadow .1s ease-in-out;
	transition: top .1s ease-in-out, box-shadow .1s ease-in-out;

	max-width: 360px;
		
	background: #fff;
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
	color: #555;
	border-radius: .2rem;
	overflow: hidden;


	
}

.cl-card h1 {
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.6rem;
	padding: 1.8rem 1.2rem 0;
	margin: 0;
	text-transform: initial;
}

.cl-card p {
	padding: 1rem 1.2rem 0;
	font-size: 1rem;
}

.cl-card .button {
	display: block;
	width: 100%;
	margin-top: 2rem;
	padding: calc(1.5% + 1em) 0;
	background: inherit;
	border: none;
	border-top: 1px solid #eee;
	font-size: .7rem;
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-align: center;
	color: #002147;
	-webkit-transition: all .2s;
	transition: all .2s;
	
	text-shadow: none !important;
}